@import "../abstracts/variables";

.btn {
  padding: 0.8rem 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $primary-color;
  color: #fff;
  border-radius: 5px;
}

.btn--primary {
  background-color: $white;
}

.btn--outline {
  color: $white;
  padding: 12px 25px;
}

.btn--desktop {
  padding: 16px 26px;
  font-size: 20px;
}
