.blog-setup {
  height: 80vh;
}

.template__links {
  display: flex;
}

.follow {
  padding-top: 5rem;

  &__header {
    padding-bottom: 1.5rem;
  }
}

.blog-content h2,
.blog-content h3 {
  padding-bottom: 0rem;
  // margin-bottom: -0.75rem;
}

.blog-content a {
  color: $primary-color;
  background-image: linear-gradient(180deg, $primary-color 0%, $primary-color 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2rem;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
	padding-bottom: 0.1rem;
  &:hover {
    background-size: 100% 88%;
		color: $white;
  }
}

pre {
  background: $primary-color;
  color: $white;
  padding: 4rem 8.3rem;
}
