.blog-setup {
  height: 80vh;
}

.template__links {
  display: flex;
}

.follow {
  padding-top: 5rem;

  &__header {
    padding-bottom: 1.5rem;
  }
}

pre {
  background: $primary-color;
  color: $white;
  padding: 4rem 8.3rem;
}
