// Colours
$primary-color: #1b262c;

$secondary-color: #016795;

$text: #212121;

$white: #fff;

// Site Paddings
$site-padding-xl: 10rem 15rem;
$site-padding-l: 15rem 10rem;
$site-padding-ls: 10rem 10rem;
$site-padding-m: 5rem 10rem;
$site-padding-ms: 5rem 5rem;
$site-padding-s: 5rem 2.5rem;

$site-padding: 5rem 2.5rem;



$mobile-padding: 10rem 5rem;

// Content Padding
$p-top-l: 2rem;
$p-top-m: 1.5rem;

$no-paading-top: 0rem;

$p-bottom-xl: 5rem;
$p-bottom-l: 2rem;
$p-bottom-m: 1.5rem;

$m-top-xl: 5rem;
$m-bottom-l: 4rem;
$m-bottom-s: 3rem;

// Text
$bold-text: 600;

$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);

$border-radius: 5px;
