@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/breakpoints";

// Blogs
.blog__container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.template {
  padding: $site-padding;
}

.blog {
  display: block;
  margin-bottom: 2rem;
  background: lightblue;
  border-radius: $border-radius;
  box-shadow: $light-shadow;
  transition: all 0.3s ease-in;
  &:hover {
    box-shadow: $dark-shadow;
    transform: scale(1.02);
  }

  article {
    height: 360px;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-weight: bold;
    }

    &--category {
      display: inline-block;
      background: lightcyan;
      margin-right: 0.5rem;
      padding: 0.25rem 0.5rem;
      border-radius: $border-radius;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.85rem;
    }
  }
}

.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 4rem;
}

.blog__template {
  max-width: 84rem;
  width: 100%;
  margin: auto;
  padding-bottom: 8rem;
  h2,
  h3,
  h4,
  p {
    line-height: 1.5;
    letter-spacing: 0.75px;
    padding: 1rem 0;
  }

  img {
    margin: 2.5rem 0;
    width: 40rem;
  }
}

.template {
  &__links {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-gap: 2rem;
  }
  &__lists {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.blogs--inner {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  margin-left: 1rem;
}
