@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/breakpoints";

// Blogs
.blog__container {
  width: 1110px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: $site-padding;
}

.template {
  padding: $site-padding;
}

.blog {
  display: block;
  border-radius: $border-radius;
  box-shadow: $light-shadow;
  transition: all 0.3s ease-in;
  height: 100%;
  padding: 2rem 1.5rem;
  &:hover {
    box-shadow: $dark-shadow;
    transform: scale(1.02);
  }

  article {
    height: 100%;
  }
  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &-desc {
    font-size: 1.5rem;
    padding-top: 0.75rem;
  }

  &-category {
    background: rgb(214, 214, 214);
    margin-right: 0.5rem;
    padding: 0.35rem 0.65rem;
    border-radius: $border-radius;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
  }

  &-date {
    font-weight: bold;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
  }
}

.blog-page {
  min-height: 80vh;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  justify-items: stretch;
  align-items: center;
  grid-gap: 4rem;
  height: 100%;
}

.blog__template {
  max-width: 84rem;
  width: 100%;
  margin: auto;
  padding-bottom: 8rem;
  h2,
  h3,
  h4,
  p {
    line-height: 1.5;
    letter-spacing: 0.75px;
    padding: 1rem 0;
  }

  img {
    margin: 2.5rem 0;
    width: 40rem;
  }
}

.template {
  &__links {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-gap: 2rem;
  }
  &__lists {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.blogs--inner {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  margin-left: 1rem;
}
