@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/breakpoints";

// Blogs

.blog__container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 5rem 5rem;
}

.template {
  padding: $site-padding;
}

.front__blog {
  max-width: 96rem;
  margin: 0 auto;
  &--list {
    // position: relative;
    display: block;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    padding: 2rem 0;

    &:hover {
      background-color: $secondary-color;
      padding: 2rem;
      .blog--details {
        color: $white;
      }
    }
  }
}

.blog__template {
  max-width: 84rem;
  width: 100%;
  margin: auto;
  padding-bottom: 8rem;
  h2,
  h3,
  h4,
  p {
    line-height: 1.5;
    letter-spacing: 0.75px;
    padding: 1rem 0;
  }

  img {
    margin: 2.5rem 0;
    width: 40rem;
  }
}

.template {
  &__links {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
	 grid-gap: 2rem;
  }
  &__lists {
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;
  }
}

.blogs--inner {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  margin-left: 1rem;
}
