@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/breakpoints";

.moreInfo {
  padding: $site-padding;
}

.hire {
  max-width: 86rem;
  margin: 0 auto;
  text-align: center;
  &--reasons {
    padding-bottom: 3rem;
    letter-spacing: 0.8px;
    font-size: 1.75rem;
  }
}

.underline {
  background-image: linear-gradient(120deg, $secondary-color 0%, $secondary-color 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}
