@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/breakpoints";

.moreInfo{
	padding: $site-padding;
}

.hire {
  max-width: 86rem;
  margin: 0 auto;
  text-align: center;
  &--reasons {
    padding-bottom: 3rem;
	 letter-spacing: 0.8px;
	 font-size: 1.75rem;
  }
}
