@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/breakpoints";

.project {
  padding: 1.5rem 2.5rem;
}
.project-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 4rem;
}

.project__img {
  height: auto;
  box-shadow: $dark-shadow;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.projects-page {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
