@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/breakpoints";

/* Card */
.services {
  padding: 5rem 0rem;
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    @include media("<=laptop") {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    grid-gap: 4rem;
    justify-content: center;
    align-items: start;
    max-width: 114rem;
    margin: 0 auto;
    width: 100%;
  }

  &__content {
    display: flex;
    max-width: 40rem;
    margin: 0 auto;
    @include media("<=phone") {
      padding: 0rem 1rem;
    }
  }
}

.icon {
  margin-top: -6rem;
  margin-right: 2rem;
  &--size {
    display: inline-block;
    width: 20rem;
    height: 20rem;
  }
}
