.blog-template {
  max-width: 84rem;
  width: 100%;
  margin: auto;
  h2,
  h3,
  h4,
  p {
    line-height: 1.75;
    letter-spacing: 0.75px;
    padding: 1rem 0;
  }

  img {
    margin: 2.5rem 0;
    width: 40rem;
  }
}
